.s_content {
  margin-top: 10px;
  font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB,
    '\u5b8b\u4f53', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  background: #fff;
}

table td {
  vertical-align: middle !important;
}

.el-tabs--border-card {
  box-shadow: 0 0 0 0;
}

.order-tb {
  width: 100%;
  line-height: 20px;
  display: table;
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  font-size: 12px;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.order-tb thead th {
  display: table-cell;
  vertical-align: inherit;
  display: table-cell;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #f5f5f5;
  color: #666;
  font-weight: 400;
}

.order-tb .sep-row {
  height: 20px;
}

.order-tb .tr-th {
  background: #f5f5f5;
  height: 31px;
  line-height: 31px;
  color: #aaa;
  overflow: hidden;
}
.order-tb .tr-th td {
  border-bottom-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}
.order-tb .tr-th .gap {
  width: 14px;
}
.order-tb .tr-th span {
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 2px 0 0;
  _display: inline;
}
.order-tb .tr-th .dealtime {
  margin-right: 30px;
  _margin-right: 15px;
  font-family: verdana;
}
.order-tb .tr-th .number {
  width: 226px;
  font-family: verdana;
}
.order-tb .tr-bd {
  text-align: center;
  vertical-align: top;
}

.order-tb .tr-bd td {
  padding: 10px 0;
}
.order-tb tbody td {
  border: 1px solid #e5e5e5;
}

.order-tb .goods-item {
  width: 340px;
  margin-right: 50px;
}
.order-tb .goods-item .p-img {
  float: left;
  width: 60px;
  height: 60px;
  border: 1px solid #efefef;
  margin: 0 14px;
  _display: inline;
  position: relative;
}
.order-tb .goods-item .p-name {
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  color: #333;
  text-align: left;
}
.order-tb .tooltip {
  position: relative;
  width: 100px;
  margin: 0 auto;
  z-index: 2;
  cursor: pointer;
}
.order-tb .consignee {
  color: #333;
}
.order-tb .consignee b {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 14px;
  height: 16px;
  background: url(//misc.360buyimg.com/user/myjd/ordercenter/css/i/order-icons.png)
    0 -24px;
  vertical-align: middle;
  margin: 0 0 0 5px;
}
.order-tb .tooltip .prompt-02 {
  position: absolute;
  z-index: 1;
  width: 220px;
  right: 90px;
  top: -22px;
  padding: 15px 20px;
  color: #666;
  line-height: 22px;
}
span.txt:hover ~ .prompt-01 {
  display: block;
}
.order-tb .tooltip .prompt-01 {
  position: absolute;
  display: none;
  z-index: 1;
  width: 400px;
  right: 90px;
  top: -22px;
  padding: 9px 9px 0;
  cursor: auto;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 0 2px 2px #eee;
  border-radius: 1px;
}
.order-tb .prompt-01 .p-arrow-left {
  right: -8px;
  top: 25px;
  width: 8px;
  height: 16px;
  background-position: -7px 0;
}
.order-tb .prompt-01 .pc {
  background: #fff;
  padding: 0;
  color: #333;
  text-align: left;
}
.order-tb .amount {
  color: #aaa;
}
.order-tb .amount .ftx-13 {
  display: block;
  margin: 0 8px;
  margin-top: 5px;
  padding-top: 1px;
  border-top: solid 1px #e5e5e5;
  line-height: 19px;
  height: 19px;
  overflow: hidden;
}
.order-tb .status {
  position: relative;
  z-index: 5;
  color: #333;
  line-height: 22px;
}
.ftx-02,
.ftx02 {
  color: #71b247;
}
.order-tb .tooltip {
  position: relative;
  width: 100px;
  margin: 0 auto;
  z-index: 2;
  cursor: pointer;
}
.order-tb .operate {
  line-height: 22px;
}
a.btn-5 {
  border: 1px solid #71b247;
  color: #71b247;
  border-radius: 2px;
  width: 85px;
  text-align: center;
  padding: 3px 10px;
  margin: 3px 0;
  font-weight: 700;
}

.order-tb .goods-number {
  float: right;
  width: 40px;
  text-align: left;
  color: #aaa;
  font-family: verdana;
}