  /* .fade-enter-active, .fade-leave-active {
transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
} */

.el-notification__icon {
  margin: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  background-color: #ffffff;
  border-bottom: 1px solid #c2a485;
  z-index: 99;
}
.header .inter {
  width: 1140px;
  height: 68px;
  background-color: #ffffff;
  /*background-color: gainsboro;*/
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


.header .inter {
  flex: 1;
}

.header .inter .inter-i {
  font-size: 14px;
  color: #555;
  height: 68px;
  line-height: 68px;
  padding: 0 28px;
}

.header .inter  .inter-i:hover {
  color: #c78a49;
}

.header .inter .search-box{
  display:inline-block;
  position: absolute;
  left:50%;
  margin-left: -160px;
}

.header .inter .search-box .search_input {
  width:300px;
  line-height:68px;
}


.header .inter .inter_right a {
  font-size: 14px;
  color: #555;
  height: 68px;
  line-height: 68px;
  padding: 10px;
}

.footer {
  width: 100%;
  height: 390px;
  background-color: #faf8f8;
  border-top: 1px solid #c2a485;
}
.footer .inter1 {
  width: 1140px;
  height: 228px;
  /*background-color: #55a532;*/
  padding-top: 58px;
  margin: 0 auto;
}
.footer .inter1 .left {
  float: left;
  width: 307px;
  height: 160px;
  /*background-color: #FF5000;*/
  margin-right: 30px;
}
.footer .inter1 .left img {
  width: 110px;
  height: 28px;
}
.footer .inter1 .left p {
  font-size: 12px;
  margin-top: 10px;
  color: #999999;
}
.footer .inter1 .center {
  float: left;
  width: 490px;
  height: 178px;
  /*line-height: 30px;*/
  /*background-color: #795da3;*/
  margin-right: 30px;
}
.footer .inter1 .center dl {
  float: left;
  width: 153px;
  height: 156px;
  font-size: 12px;
  line-height: 30px;
}
.footer .inter1 .center dl:nth-child(1) {
  padding-left: 30px;
}
.footer .inter1 .center dl dt {
  font-size: 14px;
}
.footer .inter1 .center dl a {
  color: #666;
}
.footer .inter1 .right {
  float: right;
  width: 274px;
  height: 139px;
  /*background-color: lightcoral;*/
}
.footer .inter1 .right img {
  float: left;
  width: 120px;
  height: 120px;
  padding-right: 8px;
  padding-left: 8px;
}
.footer .inter1 .right span {
  float: left;
  font-size: 14px;
  color: #666;
  padding-left: 30px;
  padding-right: 35px;
}
.footer .inter1 .left p:hover,
.footer .inter1 dt a:hover,
.footer .inter1 dd a:hover,
.footer .inter1 .right span:hover {
  color: #d5a879;
}

.footer hr {
  border: 0.5px solid #e6e6e6;
}
.pr {
  position: relative;
  line-height: 75px;
}
.nav-user {
  margin-top: 20px;
  line-height: 75px;
}

.nav-user-wrapper {
  width: 168px;
  /* transform: translate(-50%); */
  transform: scaleY(0);
  transition: transform .15s ease-in-out;
  transform-origin: 50% 0;
}
.nav-user-wrapper {
  position: absolute;
  z-index: 30;
}
.nav-user-list {
  width: 168px;
  position: relative;
  padding-top: 20px;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-color: rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  box-shadow: 0 20px 40px rgb(0 0 0 / 15%);
  z-index: 10;
}
.nav-user-list:before {
  left: 50%;
}
.nav-user-avatar > div {
  position: relative;
  margin: 0 auto 8px;
  width: 46px;
  height: 46px;
  text-align: center;
}
.nav-user-avatar > div .avatar {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-user-avatar .name {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #757575;
}
.nav-user-list ul li {
  cursor: pointer;
}
.nav-user-list ul li:first-child:hover {
  background-color: transparent;
}
.nav-user-list ul li:hover {
  background-color: #f5f5f5;
}

.nav-user-list li + li {
  text-align: center;
  position: relative;
  border-top: 1px solid #f5f5f5;
  line-height: 44px;
  height: 44px;
  color: #616161;
  font-size: 12px;
}

.nav-user-list li a{
  line-height: 44px !important;
  height: 44px !important;
  font-size: 12px !important;
}

.nav-user:hover i{
  color: #c78a49;
}
.nav-user:hover span{
  color: #c78a49;
}
.pr:hover .nav-user-wrapper {
  transform: scaleY(1);
  transition: transform .3s ease-in-out;
  transform-origin: 50% 0;
}