* {
  margin: 0;
  padding: 0;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #c78a49;
}