* {
  margin: 0;
  padding: 0;

}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #c78a49;
}

