* {
  margin: 0;
  padding: 0;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  -moz-user-select:none;/*火狐*/
  -webkit-user-select:none;/*webkit浏览器*/
  -ms-user-select:none;/*IE10*/
  -khtml-user-select:none;/*早期浏览器*/
  user-select:none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #c78a49;
}