.s_content {
  background-color: #f5f8fa;
  padding-top: 100px;
  padding-bottom: 50px;
}

/* 标题和副标题 */
.title {
  display: block;
  font-size: 24px;
  /*background-color: gold;*/
  width: 1140px;
  height: 31px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

.title a {
  color: #000000;
}

.subtitle {
  display: block;
  /*background-color: gainsboro;*/
  height: 35px;
  line-height: 35px;
  width: 1140px;
  text-align: center;
  margin: 0 auto 15px;
}

.subtitle p {
  font-size: 14px;
  color: #999999;
}





/* 轮播图 */
.carousel {
  position: relative;
  background-color: #FFFFFF;
  width: 1160px;
  height: 360px;
  margin: 0 auto;
  border: 1px solid #dcdcdc;
  border-color: rgba(0,0,0,.14);
  border-radius: 8px;
  box-shadow: 0 3px 8px -6px rgb(0 0 0 / 10%);
  overflow: hidden;
}



.outer2 {
  margin: 80px auto 15px;
  width: 1140px;
  background-color: #FFFFFF;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0,0,0,.14);
  border-radius: 8px;
  box-shadow: 0 3px 8px -6px rgb(0 0 0 / 10%);

}

.inter3 {
  position: relative;
  margin: 0 auto;
  /*background-color: whitesmoke;*/
  height: 384px;
  width: 1140px;
  overflow: hidden;
}

.inter3 .left {
  position: absolute;
  top: 4px;
  left: 0;
  /*background-image: url("images/pic1.jpg");*/
  width: 680px;
  height: 380px;
  overflow: hidden;
}

.inter3 .right1 {
  position: absolute;
  top: 4px;
  right: 0;
  width: 450px;
  height: 185px;
  overflow: hidden;
}

.inter3 .right2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 450px;
  height: 185px;
  overflow: hidden;
}


.box {
  border-radius: 8px;
  margin: 50px auto 0;
  width: 1140px;
  background-color: #FFFFFF;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0,0,0,.14);
  box-shadow: 0 3px 8px -6px rgb(0 0 0 / 10%);
}


.box2 {
  position: relative;
  height: 640px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.box2 ul li {
  width: 220px;
  height: 310px;
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #F9F9F9;
  position: relative;
  overflow: hidden;
}

.box2 .start,
.start1 {
  width: 220px;
  height: 310px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.box2 ul .start a img {
  position: absolute;
  top: 0;
  left: 0;
}

.box2 ul .start1 a img {
  position: absolute;
  top: 320px;
  left: 0;
}

.box2 .start .a1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 310px;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  pointer-events: none;
}

.box2 .start:hover .a1 {
  /*background-color: rgba(0,0,0,.1);*/
  display: block;
}

.box2 .start1 .a2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 310px;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  pointer-events: none;
}

.box2 .start1:hover .a2 {
  /*background-color: rgba(0,0,0,.1);*/
  display: block;
  top: 50%;
}

.box2 .end {
  position: absolute;
  top: 0;
  left: 220px;

}

.box2 ul li a img {
  width: 220px;
  height: 220px;
  margin-bottom: 18px;
  /*background-color: rgba(0,0,0,0);*/
}

.box2 .p11 {
  /*display: block;*/
  font-weight: bold;
  color: #333;
  font-size: 12px;
  height: 32px;
  /*background-color: grey;*/
  line-height: 32px;

}

.box2 .p22 {
  font-size: 14px;
  /*background-color: #FFFFFF;*/
  height: 39px;
  line-height: 39px;
  color: #E02B41;
}

.box2 ul li .a11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 310px;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  pointer-events: none;
}

.box2 ul li .d11 {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -25px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #C78A49;
  text-align: center;
}

.box2 ul li:hover .a11 {
  display: block;
}

.box3 {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*background-color: #C78A49;*/
  pointer-events: none;
  z-index: 999;
}

.box3 a {
  position: absolute;
  top: 80%;
  left: 45%;
  /*margin-top: -75px;*/
  /*margin-left: -100px;*/
  margin: 0 auto;
}

.box3 a img {
  padding: 10px;
}

.box3 a span {
  text-align: center;
  font-size: 14px;
  height: 46px;
  color: #FFFFFF;
  background-color: #262626;
  padding: 15px 15px;
  border-radius: 5px;
}


