/* 标题和副标题 */
.title {
  display: block;
  font-size: 24px;
  /*background-color: gold;*/
  width: 1140px;
  height: 31px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

.title a {
  color: #000000;
}

.subtitle {
  display: block;
  /*background-color: gainsboro;*/
  height: 35px;
  line-height: 35px;
  width: 1140px;
  text-align: center;
  margin: 0 auto 15px;
}

.subtitle p {
  font-size: 14px;
  color: #999999;
}





/* 轮播图 */
.carousel {
  position: relative;
  width: 1140px;
  height: 460px;
  margin: 80px auto;
}

.outer1 span {
  font-size: 14px;
  color: #999999;
}


.outer2 {
  margin: 80px auto 15px;
}

.inter3 {
  position: relative;
  margin: 0 auto;
  /*background-color: whitesmoke;*/
  height: 384px;
  width: 1140px;
  overflow: hidden;
}

.inter3 .left {
  position: absolute;
  top: 4px;
  left: 0;
  /*background-image: url("images/pic1.jpg");*/
  width: 680px;
  height: 380px;
  overflow: hidden;
}

.inter3 .right1 {
  position: absolute;
  top: 4px;
  right: 0;
  width: 450px;
  height: 185px;
  overflow: hidden;
}

.inter3 .right2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 450px;
  height: 185px;
  overflow: hidden;
}


.box {
  margin: 50px auto;
}

.box2 {
  position: relative;
  height: 640px;
  width: 100%;
  max-width: 1140px;
  margin: 15px auto;
}

.box2 ul li {
  width: 220px;
  height: 310px;
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #F9F9F9;
  position: relative;
  overflow: hidden;
}

.box2 .start,
.start1 {
  width: 220px;
  height: 310px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.box2 ul .start a img {
  position: absolute;
  top: 0;
  left: 0;
}

.box2 ul .start1 a img {
  position: absolute;
  top: 320px;
  left: 0;
}

.box2 .start .a1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 310px;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  pointer-events: none;
}

.box2 .start:hover .a1 {
  /*background-color: rgba(0,0,0,.1);*/
  display: block;
}

.box2 .start1 .a2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 310px;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  pointer-events: none;
}

.box2 .start1:hover .a2 {
  /*background-color: rgba(0,0,0,.1);*/
  display: block;
  top: 50%;
}

.box2 .end {
  position: absolute;
  top: 0;
  left: 220px;

}

.box2 ul li a img {
  width: 220px;
  height: 220px;
  margin-bottom: 18px;
  /*background-color: rgba(0,0,0,0);*/
}

.box2 .p11 {
  /*display: block;*/
  font-weight: bold;
  color: #333;
  font-size: 12px;
  height: 32px;
  /*background-color: grey;*/
  line-height: 32px;

}

.box2 .p22 {
  font-size: 14px;
  /*background-color: #FFFFFF;*/
  height: 39px;
  line-height: 39px;
  color: #E02B41;
}

.box2 ul li .a11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 310px;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  pointer-events: none;
}

.box2 ul li .d11 {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -25px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #C78A49;
  text-align: center;
}

.box2 ul li:hover .a11 {
  display: block;
}

.box3 {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*background-color: #C78A49;*/
  pointer-events: none;
  z-index: 999;
}

.box3 a {
  position: absolute;
  top: 80%;
  left: 45%;
  /*margin-top: -75px;*/
  /*margin-left: -100px;*/
  margin: 0 auto;
}

.box3 a img {
  padding: 10px;
}

.box3 a span {
  text-align: center;
  font-size: 14px;
  height: 46px;
  color: #FFFFFF;
  background-color: #262626;
  padding: 15px 15px;
  border-radius: 5px;
}


.outer3 {
  margin: 0px auto;
}

.outer3 .p1 {
  display: block;
  font-size: 24px;
  /*background-color: palegoldenrod;*/
  /*height: 31px;*/
  text-align: center;
  font-weight: bold;
}

.outer3 a {
  color: #000;
}

.outer3 .inter1 {
  /*background-color: #cccccc;*/
  font-size: 14px;
  color: #999999;
  text-align: center;
  /*height: 35px;*/
  line-height: 35px;
  /*width: 100%;*/
}

.outer3 .inter2 {
  width: 1140px;
  height: 358px;
  margin-top: 15px;
  /*background-color: #e9e9e9;*/
  overflow: hidden;
}

.outer3 .inter2 .left {
  position: relative;
  float: left;
  width: 504px;
  height: 358px;
  margin-bottom: 14px;
  margin-right: 14px;
  overflow: hidden;
}

.outer3 .inter2 .mid {
  width: 411px;
  float: left;
}

.outer3 .inter2 .mid1 {
  position: relative;
  width: 411px;
  height: 172px;
  margin-bottom: 14px;
  margin-right: 14px;
  overflow: hidden;
}

.outer3 .inter2 .mid2 {
  position: relative;
  width: 411px;
  height: 172px;
  margin-bottom: 14px;
  margin-right: 14px;
  overflow: hidden;
}

.outer3 .inter2 .right {
  position: relative;
  float: right;
  width: 197px;
  height: 358px;
  margin-right: 0;
  overflow: hidden;
}

.outer3 .inter2 .left .border1,
.outer3 .inter2 .mid1 .border2,
.outer3 .inter2 .mid2 .border3,
.outer3 .inter2 .right .border4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.3%;
  height: 99%;
  border: 2px solid #FFFFFF;
  pointer-events: none;
}

.outer3 .inter2 .left:hover .border1 {
  transform: scale(0.95, .94);
  transition: 0.5s;
}

.outer3 .inter2 .mid1:hover .border2 {
  transform: scale(0.95, .91);
  transition: 0.5s;
}

.outer3 .inter2 .mid2:hover .border3 {
  transform: scale(0.95, .9);
  transition: 0.5s;
}

.outer3 .inter2 .right:hover .border4 {
  transform: scale(0.9, .95);
  transition: 0.5s;
}

.outer3 .inter2 img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}


.outer3 .inter3 {
  width: 1140px;
  height: 167px;
  /*background-color: #cccccc;*/
  margin: 20px auto;
  /*overflow: hidden;*/
}

.outer3 .inter3 ul li {
  float: left;
  list-style: none;
  margin-right: 22px;
  margin-bottom: 22px;
  width: 210px;
  height: 139px;

}

.outer3 .inter3 ul .last {
  margin-right: 0;
}

.outer3 .inter3 ul li .a1 {
  display: inline-block;
  border: 1px solid #cccccc;
  width: 208px;
  height: 90px;
  text-align: center;
  /*background-color: #bd2c00;*/
  overflow: hidden;
}

.outer3 .inter3 ul li img {
  height: 88px;
  width: 176px;
  overflow: hidden;
}

.outer3 .inter3 ul li p {
  margin: 15px;
  text-align: center;
  color: #5d5d5d;
  font-size: 14px;
  height: 15px;
}

.outer3 .inter3 ul a:hover img {
  transform: translate(-50px, 0);
  transition: 0.5s;
}

