.s_content {
  background-color: #f5f8fa;
  padding: 30px 0;
}

/* 标题和副标题 */
.title {
  display: block;
  font-size: 24px;
  /*background-color: gold;*/
  width: 1140px;
  height: 31px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

.title a {
  color: #000000;
}

.subtitle {
  display: block;
  /*background-color: gainsboro;*/
  height: 35px;
  line-height: 35px;
  width: 1140px;
  text-align: center;
  margin: 0 auto 15px;
}

.subtitle p {
  font-size: 14px;
  color: #999999;
}



.outer2 {
  margin: 80px auto 15px;
  width: 1140px;
  background-color: #FFFFFF;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0, 0, 0, .14);
  border-radius: 8px;
  box-shadow: 0 3px 8px -6px rgb(0 0 0 / 10%);

}

.inter3 {
  position: relative;
  margin: 0 auto;
  /*background-color: whitesmoke;*/
  height: 384px;
  width: 1140px;
  overflow: hidden;
}

.inter3 .left {
  position: absolute;
  top: 4px;
  left: 0;
  /*background-image: url("images/pic1.jpg");*/
  width: 680px;
  height: 380px;
  overflow: hidden;
}

.inter3 .right1 {
  position: absolute;
  top: 4px;
  right: 0;
  width: 450px;
  height: 185px;
  overflow: hidden;
}

.inter3 .right2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 450px;
  height: 185px;
  overflow: hidden;
}


.box {
  border-radius: 8px;
  margin: 50px auto 0;
  width: 1140px;
  background-color: #FFFFFF;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0, 0, 0, .14);
  box-shadow: 0 3px 8px -6px rgb(0 0 0 / 10%);
}


.box2 {
  position: relative;
  height: 640px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.box2 ul li {
  width: 220px;
  height: 310px;
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #F9F9F9;
  position: relative;
  overflow: hidden;
}

/* -----------------专题活动-------------------- */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subject {}

.mt30 {

}

.w {
  width: 1160px;
  margin: 0 auto;
}

.gray-box {
  padding-top: 30px;
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0, 0, 0, .14);
  box-shadow: 0 3px 8px -6px rgb(0 0 0 / 10%);
}



.floors {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}

.floors .imgbanner {
  width: 50%;
  height: 430px;
  
}

.floors img {
  display: block;
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;

}
.good-item .ds {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.good-item {
  background: #fff;
  width: 25%;
  transition: all .3s;
  height: 430px;
}

.good-item:hover {
  transform: translateY(-3px);
  box-shadow: 1px 1px 10px #999;
}

.good-item:hover .good-price p {
  display: none;
}

.good-item:hover .ds {
  display: -ms-flexbox;
  display: flex;
}

.good-item .ds {
  width: 100%;
  display: none;
}

.good-item .good-img img {
  margin: 50px auto 10px;
  width: 206px;
  height: 206px;
  display: block;
}

.good-item .good-price {
  margin: 15px 0;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #d44d44;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
}

.good-item .good-title {
  line-height: 1.2;
  font-size: 16px;
  color: #424242;
  margin: 0 auto;
  padding: 0 14px;
  text-align: center;
  overflow: hidden;
}

.good-item h3 {
  text-align: center;
  line-height: 1.2;
  font-size: 12px;
  color: #d0d0d0;
  padding: 10px;
}



/* ----------------------------------- */

.menu {
  width: 1160px;
  height: 600px;
  border-radius: 8px;
  margin: 30px auto;
  display: flex;
}


.menu ul {
  width: 180px;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 3px 8px -6px rgb(0 0 0 / 10%);
  border: 1px solid #dcdcdc;
  border-color: rgba(0, 0, 0, .14);
}

.menu .right {
  flex: 1;
  border-radius: 8px;
  margin-left: 10px;
}

/* 轮播图 */
.menu .right .carousel {
  height: 600px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  overflow: hidden;
}


.menu ul li {
  height: 30px;
  padding-left: 8px;
  text-align: left;
  line-height: 30px;
  font-size: 13px;
  z-index: 2;
}

.menu ul li a {
  color: #707070;
  text-decoration: none;
}

.menu ul li a:hover {
  color: #E6A23C;

}

.menu ul li:hover {
  border-right: 0;
  background-color: rgb(245, 245, 245);
  background-image: none;
  cursor: pointer;

}

.menu ul li:hover .submenu,
.menu ul li:hover .submenu .subleft {
  display: block;
  transform: scaleX(1);
  transition: transform .3s ease-in-out;
  transform-origin: 0 50%;
}

.menu ul li .submenu {
  position: absolute;
  border-radius: 8px;
  left: 178px;
  min-height: 600px;
  top: 0;
  width: 982px;
  box-sizing: border-box;
  border: 1px solid #DDD;
  background-color: #FFF;
  z-index: 99;
  transform: scaleX(0);
}

.menu ul li .submenu .subleft {
  margin-left: 0px;
  width: 960px;
  float: left;
  padding: 15px;
}

.menu ul li .submenu .subleft dl {
  overflow: hidden;
  border-bottom: 1px solid #D1D1D1;
  padding: 10px 0;
  display: flex;

}

.menu ul li .submenu .subleft dl dt {
  height: 22px;
  width: 60px;
  line-height: 22px;
  margin-right: 10px;
  font-weight: bold;
  color: #707070;
  font-size: 12px;
  cursor: pointer;
}

.menu ul li .submenu .subleft dl dd {
  flex: 1;
}

.menu ul li .submenu .subleft dl dd a {
  display: block;
  float: left;
  border-left: 1px solid #707070;
  padding: 0 5px;
  color: #707070;
  height: 14px;
  line-height: 14px;
  margin: 3px 0;
  font-size: 11px;
}

.menu ul li .submenu .subleft dl dd a:hover {
  color: #E6A23C;
}

.menu ul li .submenu .subright {
  width: 310px;
  height: 300px;
  background-color: blue;
  float: left;
}