html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: "微软雅黑", microsoft yahei;
  color: #333;
  background: #fff;
  min-width: 1140px;
}


.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

img {
  max-width: 100%;
}

.page-order-comfirm {
  width: 1140px;
  margin: 0 auto;
  margin-top: 90px;
}

.section-con {
  background: #FFFFFF;
  color: #363636;
  margin: 20px auto;
}

.sec-title-border {
  border-bottom: 1px solid #e4e3e3;
  margin-bottom: 20px;
  height: 32px;
}

.sec-title-border h3 {
  color: #373737;
  font-size: 16px;
  line-height: 2;
  margin: 0;
  font-weight: 600;
  display: inline;
}

.sec-title-border .right {
  float: right;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  text-decoration: none;
}

.sec-title-border a:hover {
  text-decoration: underline;
}

.sec-title-border span {
  margin-left: 20px;
  display: inline;
  color: #bcbcbc;
}

.sec-title-noborder {
  border-bottom: none;
}

.mark {
  color: #f00;
}

.addressAddBox {
  padding: 0 3px;
}

.div-form-gw {
  margin-bottom: 10px;
}

.addr-add-form .div-form-gw label {
  display: block;
  margin-bottom: 5px;
}

.input-gw {
  background: #f3f3f3;
  padding: 8px;
  border: none;
}

.input-gw220 {
  width: 220px;
}

.input-gw150 {
  width: 153px;
}

.input-gw480 {
  width: 480px;
}

.div-three .div-three-item {
  float: left;
  margin-right: 10px;
}

.div-half .div-half-item {
  float: left;
  margin-right: 24px;
}

.btn-gray-gw {
  background: #f3f3f3;
  border: 1px solid #dddddd;
  color: #363636;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 7px 12px;
  margin-right: 20px;
}

.btn-gray-gw:hover {
  background-color: #f9f9f9;
}

.addressBox {
  margin-bottom: 15px;
  margin-left: -7px;
  margin-right: -7px;
}

.addressBox .address-item {
  float: left;
  width: 33%;
  line-height: 2;
  color: #848383;
  cursor: pointer;
}

.addressBox .address-item:nth-child(3n+1) {
  clear: both;
}

.addressBox .address-item .address-item-in {
  padding: 15px 30px;
  margin: 0 7px 15px 7px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  position: relative;
  background-color: rgb(248, 248, 248);
}

.addressBox .address-item .address-item-in .optional-seletion {
  display: none;
  position: absolute;
  height: 100%;
  top:0;
  right: 0;
  z-index: 99;
}
.addressBox .address-item .address-item-in .optional-seletion .btn {
  height: 50%;
  width: 50px;
  font-size: 14px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(221, 220, 220);
  background-color: #FFF;
}


.addressBox .address-item .address-item-in div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.addressBox .address-item.selected .address-item-in {
  border-color: #f1bb69;
  background-color: #fff;
}

.addressBox .address-item .address-item-in:hover .optional-seletion {
  display: block;
}

.addressBox .address-item .address-item-in .optional-seletion .btn:hover{
  background-color: rgb(248, 248, 248);
}


.style-list ul,
.style-list li {
  list-style: none;
}

.style-list li {
  float: left;
  cursor: pointer;
  padding: 8px 40px;
  border: 1px solid #c5c5c5;
  margin-right: 35px;
  font-size: 110%;
  text-align: center;
}



.gray-box {
  width: 1140px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0, 0, 0, .14);
  box-shadow: 0 3px 8px -6px rgb(0 0 0 / 50%);
  padding: 10px;
  box-sizing: border-box;
}


.gray-box .pay-mod {
  margin: 0 auto;
  display: flex;
  font-size: 14px;
  font-weight: bold;
}

.gray-box .pay-mod .pay-item{
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  background-color: rgb(248, 248, 248);
  width: 120px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gray-box .pay-mod .pay-item.selected {
  border-color: #f1bb69;
  background-color: #fff;
}


.page-shopping-cart {
  margin: 0 auto;
  font-size: 14px;
  border: 1px solid #e3e3e3;
}

.page-shopping-cart .cart-title {
  color: #c78a49;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
  line-height: 68px;
}

.page-shopping-cart .red-text {
  color: #c57825;
}

.page-shopping-cart .td-product {
  width: 460px;
}

.page-shopping-cart .td-num,
.page-shopping-cart .td-price,
.page-shopping-cart .td-total {
  width: 160px;
}

.page-shopping-cart .td-do {
  width: 148px;
}

.page-shopping-cart .cart-product-title {
  text-align: center;
  height: 38px;
  line-height: 38px;
  background: #f7f7f7;
}

.page-shopping-cart .cart-product-title .td-product {
  text-align: center;
  font-size: 14px;
}

.page-shopping-cart .cart-product {
  text-align: center;
}

.page-shopping-cart .cart-product table {
  width: 100%;
  text-align: center;
  font-size: 14px;
  border-collapse: collapse
}

.page-shopping-cart .cart-product table th {
  padding: 10px;
}

.page-shopping-cart .cart-product table td {
  padding: 20px 10px;
}

.page-shopping-cart .cart-product table tbody tr {
  border-bottom: 1px solid #e3e3e3;
}

.page-shopping-cart .cart-product table tr:last-child {
  border-bottom: none;
}

.page-shopping-cart .cart-product table .product-num {
  display: inline-block;
  text-align: center;
}

.page-shopping-cart .cart-product table .product-num .num-do {
  width: 24px;
  height: 28px;
  display: block;
  background: #f7f7f7;
}

.page-shopping-cart .cart-product table .td-product {
  text-align: left;
  font-size: 12px;
  line-height: 20px;
}

.page-shopping-cart .cart-product table .td-product img {
  width: 100px;
  height: 100px;
  border: 1px solid #e3e3e3;
  margin-right: 10px;
}

.page-shopping-cart .cart-product table .td-product .product-info {
  display: inline-block;
  vertical-align: middle;
}

.page-shopping-cart .cart-product table .td-product .product-info h3 {
  width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-shopping-cart .cart-product table .td-do {
  font-size: 12px;
}

.page-shopping-cart .cart-product-info {
  height: 50px;
  line-height: 50px;
  background: #f7f7f7;
  padding-left: 20px;
}

.page-shopping-cart .cart-product-info .delect-product {
  color: #666;
}

.page-shopping-cart .cart-product-info .product-total {
  font-size: 14px;
  color: #e94826;
}

.page-shopping-cart .cart-product-info .product-total span {
  font-size: 20px;
}


.page-shopping-cart .cart-product-info .keep-shopping {
  color: #666;
  margin-left: 40px;
}

.page-shopping-cart .cart-product-info .btn-buy {
  height: 50px;
  color: #fff;
  font-size: 20px;
  display: block;
  width: 110px;
  background: #ff7700;
  text-align: center;
  margin-left: 30px;
}

.page-shopping-cart .cart-worder {
  padding: 20px;
}

.page-shopping-cart .cart-worder .choose-worder {
  color: #fff;
  display: block;
  background: #39e;
  width: 140px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
  margin-right: 20px;
}

.page-shopping-cart .cart-worder .worker-info {
  color: #666;
}

.page-shopping-cart .cart-worder .worker-info img {
  border-radius: 100%;
  margin-right: 10px;
}

.page-shopping-cart .cart-worder .worker-info span {
  color: #000;
}


