@charset "utf-8";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: "微软雅黑", microsoft yahei;
  color: #333;
  background: #fff;
}

body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
caption,
tbody,
tfoot,
thead,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  padding: 0;
  margin: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  color: #333;
  background-color: transparent;
  text-decoration: none;
  -webkit-touch-callout: none;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  vertical-align: middle;
  -webkit-touch-callout: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

[role='button']:focus {
  outline: 0;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="text"] {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

input[type="radio"] {
  -webkit-appearance: radio;
}

textarea {
  overflow: auto;
  outline: none;
  -webkit-appearance: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

img {
  max-width: 100%;
}

.page-order-comfirm {
  width: 1140px;
  margin: 0 auto;
  margin-top: 90px;
}

.section-con {
  background: #FFFFFF;
  padding: 10px 30px;
  color: #363636;
  margin-bottom: 20px;
}

.sec-title-border {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 20px;
  height: 32px;
}

.sec-title-border h3 {
  color: #373737;
  font-size: 16px;
  line-height: 2;
  margin: 0;
  font-weight: 600;
  display: inline;
}

.sec-title-border a.right {
  float: right;
  color: #5b5b5b;
  padding-right: 10px;
  padding-top: 8px;
  text-decoration: none;
}

.sec-title-border a:hover {
  text-decoration: underline;
}

.sec-title-border span {
  margin-left: 20px;
  display: inline;
  color: #bcbcbc;
}

.sec-title-noborder {
  border-bottom: none;
}

.mark {
  color: #f00;
}

.addressAddBox {
  padding: 0 3px;
}

.div-form-gw {
  margin-bottom: 10px;
}

.addr-add-form .div-form-gw label {
  display: block;
  margin-bottom: 5px;
}

.input-gw {
  background: #f3f3f3;
  padding: 8px;
  border: none;
}

.input-gw220 {
  width: 220px;
}

.input-gw150 {
  width: 153px;
}

.input-gw480 {
  width: 480px;
}

.div-three .div-three-item {
  float: left;
  margin-right: 10px;
}

.div-half .div-half-item {
  float: left;
  margin-right: 24px;
}

.btn-gray-gw {
  background: #f3f3f3;
  border: 1px solid #dddddd;
  color: #363636;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 7px 12px;
  margin-right: 20px;
}

.btn-gray-gw:hover {
  background-color: #f9f9f9;
}

.addressBox {
  margin-bottom: 15px;
  margin-left: -7px;
  margin-right: -7px;
}

.addressBox .address-item {
  float: left;
  width: 50%;
  line-height: 2;
  color: #848383;
  cursor: pointer;
}

.addressBox .address-item:nth-child(2n+1) {
  clear: both;
}

.addressBox .address-item .address-item-in {
  padding: 15px 60px 15px 30px;
  margin: 0 7px 15px 7px;
  border: 2px solid #c5c5c5;
  position: relative;
}

.addressBox .address-item.selected .address-item-in {
  border-color: #c81623;
}

.addressBox .address-item .delete {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

.addressBox .address-item .delete .icon_delete {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../img/delete.png) no-repeat center;
}

.addressBox .address-item:hover .delete {
  display: block;
}

.style-list ul,
.style-list li {
  list-style: none;
}

.style-list li {
  float: left;
  cursor: pointer;
  padding: 8px 40px;
  border: 1px solid #c5c5c5;
  margin-right: 35px;
  font-size: 110%;
  text-align: center;
}

.style-list li.selected {
  border-color: #c81623;
}

.delivery,
.pay {
  margin-bottom: 50px;
}

.page-shopping-cart {
  width: 1080px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 14px;
  border: 1px solid #e3e3e3;
}

.page-shopping-cart .cart-title {
  color: #c78a49;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
  line-height: 68px;
}

.page-shopping-cart .red-text {
  color: #c57825;
}

.page-shopping-cart .td-product {
  width: 460px;
}

.page-shopping-cart .td-num,
.page-shopping-cart .td-price,
.page-shopping-cart .td-total {
  width: 160px;
}

.page-shopping-cart .td-do {
  width: 148px;
}

.page-shopping-cart .cart-product-title {
  text-align: center;
  height: 38px;
  line-height: 38px;
  background: #f7f7f7;
}

.page-shopping-cart .cart-product-title .td-product {
  text-align: center;
  font-size: 14px;
}

.page-shopping-cart .cart-product {
  text-align: center;
}

.page-shopping-cart .cart-product table {
  width: 100%;
  text-align: center;
  font-size: 14px;
  border-collapse: collapse
}

.page-shopping-cart .cart-product table th {
  padding: 10px;
}

.page-shopping-cart .cart-product table td {
  padding: 20px 10px;
}

.page-shopping-cart .cart-product table tbody tr {
  border-bottom: 1px solid #e3e3e3;
}

.page-shopping-cart .cart-product table tr:last-child {
  border-bottom: none;
}

.page-shopping-cart .cart-product table .product-num {
  border: 1px solid #e3e3e3;
  display: inline-block;
  text-align: center;
}

.page-shopping-cart .cart-product table .product-num .num-do {
  width: 24px;
  height: 28px;
  display: block;
  background: #f7f7f7;
}

.page-shopping-cart .cart-product table .product-num .num-reduce span {
  background: url("../img/minus.png") no-repeat center;
  display: block;
  width: 24px;
  height: 28px;
}

.page-shopping-cart .cart-product table .product-num .num-add span {
  background: url("../img/add.png") no-repeat center;
  display: block;
  width: 24px;
  height: 28px;
}

.page-shopping-cart .cart-product table .product-num .num-input {
  width: 42px;
  height: 28px;
  line-height: 28px;
  border: none;
  text-align: center;
}

.page-shopping-cart .cart-product table .td-product {
  text-align: left;
  font-size: 12px;
  line-height: 20px;
}

.page-shopping-cart .cart-product table .td-product img {
  width: 100px;
  height: 100px;
  border: 1px solid #e3e3e3;
  margin-right: 10px;
}

.page-shopping-cart .cart-product table .td-product .product-info {
  display: inline-block;
  vertical-align: middle;
}
.page-shopping-cart .cart-product table .td-product .product-info h3 {
  width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-shopping-cart .cart-product table .td-do {
  font-size: 12px;
}

.page-shopping-cart .cart-product-info {
  height: 50px;
  line-height: 50px;
  background: #f7f7f7;
  padding-left: 20px;
}

.page-shopping-cart .cart-product-info .delect-product {
  color: #666;
}

.page-shopping-cart .cart-product-info .product-total {
  font-size: 14px;
  color: #e94826;
}

.page-shopping-cart .cart-product-info .product-total span {
  font-size: 20px;
}


.page-shopping-cart .cart-product-info .keep-shopping {
  color: #666;
  margin-left: 40px;
}

.page-shopping-cart .cart-product-info .btn-buy {
  height: 50px;
  color: #fff;
  font-size: 20px;
  display: block;
  width: 110px;
  background: #ff7700;
  text-align: center;
  margin-left: 30px;
}

.page-shopping-cart .cart-worder {
  padding: 20px;
}

.page-shopping-cart .cart-worder .choose-worder {
  color: #fff;
  display: block;
  background: #39e;
  width: 140px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
  margin-right: 20px;
}

.page-shopping-cart .cart-worder .worker-info {
  color: #666;
}

.page-shopping-cart .cart-worder .worker-info img {
  border-radius: 100%;
  margin-right: 10px;
}

.page-shopping-cart .cart-worder .worker-info span {
  color: #000;
}