html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: '微软雅黑', microsoft yahei;
  color: #333;
  background: #fff;
  min-width: 1140px;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

img {
  max-width: 100%;
}

.page-order-pay {
  width: 1140px;
  margin: 0 auto;
  margin-top: 90px;
}

.section-con {
  background: #FFFFFF;
  color: #363636;
  margin: 20px auto;
}

.sec-title-border {
  border-bottom: 1px solid #e4e3e3;
  margin-bottom: 20px;
  height: 32px;
}

.sec-title-border h3 {
  color: #373737;
  font-size: 16px;
  line-height: 2;
  margin: 0;
  font-weight: 600;
  display: inline;
}

.sec-title-border .right {
  float: right;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  text-decoration: none;
}

.sec-title-border a:hover {
  text-decoration: underline;
}

.sec-title-border span {
  margin-left: 20px;
  display: inline;
  color: #bcbcbc;
}

.clearfix {
  zoom: 1;
}

.gray-box {
  width: 1140px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0, 0, 0, .14);
  box-shadow: 0 3px 8px -6px rgb(0 0 0 / 50%);
  padding: 10px;
  box-sizing: border-box;
}

.gray-box .pay-mod {
  margin: 0 auto;
  display: flex;
  font-size: 14px;
  font-weight: bold;
}

.gray-box .pay-mod .pay-item {
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  background-color: rgb(248, 248, 248);
  width: 120px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gray-box .pay-mod .pay-item.selected {
  border-color: #f1bb69;
  background-color: #fff;
}

.order-pay {
  width: 100%;
  margin: 0 auto;
}

.order-pay .order-pay-title {
  clear: left;
  width: 1140px;
  height: 100px;
  display: flex;
  align-items: center;
}

.order-pay .order-pay-title dl dt {
  border: 1px solid #FB9D9D;
  padding: 3px;
  float: left;
}

.order-pay .order-pay-title dl dt img {
  width: 90px;
  height: 90px;
  vertical-align: middle;
}

.order-pay .order-pay-title dl dd:nth-child(2) {
  margin-top: 25px;
}

.order-pay .order-pay-title dl dd span:last-child {
  float: right;
}

.order-pay .order-pay-title dl dd span:last-child font {
  font-size: 17px;
  color: #E31613;
  font-weight: bold;
}

.order-pay .order-pay-title dl dd:last-child span:last-child {
  font-size: 12px;
  color: #67A4FF;
  margin-right: 15px;
  cursor: pointer;
}

.order-pay .order-pay-title dl dd {
  width: 1000px;
  margin: 2px 0;
  margin-left: 10px;
  color: #333333;
  float: left;
  font-size: 14px;
}

.order-pay .order-con {
  clear: left;
  width: 1120px;
  background: white;
  border-top: 1px solid #e9e9e9;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.order-pay .order-con .qr-code {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-pay .order-con .qr-code img {
  width: 270px;
  height: 270px;
}

.order-detail {
  margin-top: 20px;
  width: 100%;
}

.order-detail .order-detail-item {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0 20px;
  border: 1px solid rgb(230, 228, 228);
  border-bottom: none;
}
.order-detail .order-detail-item:last-child {
  border: 1px solid rgb(230, 228, 228);
}

.order-detail .order-detail-item .product-con {
  flex: 3
}
.order-detail .order-detail-item .product-con span {
  margin-right: 10px;
  padding: 1px;
  color: rgb(255, 165, 46);
  border-radius: 2px;
}

.order-detail .order-detail-item .product-num {
  text-align: center;
  flex: 1
}

.order-detail .order-detail-item .product-price {
  text-align: center;
  flex: 1
}

.order-detail .order-detail-item .product-total {
  text-align: center;
  flex: 1
}