.s_content {
  width: 100%;
  background-color: #f5f8fa;
  padding-top: 90px;
}

.clear {
  overflow: hidden;
}

.detail-body {
  margin: 0 auto;
  width: 1140px;
  background-color: #ffffff;
}

.crumb-wrap {
  height: 44px;
  line-height: 44px;
  padding-left: 10px;
  border-bottom: 5px solid #f2f2f2;
}

.crumb-wrap .crumb-item {
  float: left;
  padding: 0 6px;
  font-size: 12px;
  line-height: 44px;
}

.crumb-wrap .crumb-item a {
  color: #000;
}

.crumb-wrap .crumb-item:hover a {
  color: red;
}

.shop {
  margin: 0 auto;
  width: 1140px;

}

.box {
  margin-top: 10px;
  overflow: hidden;
  z-index: 0;
  font-size: 14px;
}

.box .box-one {
  position: relative;
  width: 1210px;
  margin: 0 auto;
}

.boxx {
  float: left;
  width: 450px;
}

.boxx .boxx-one {
  padding: 20px 0 0;
}

.boxx .boxx-one ul li {
  color: #999;
}

.boxx .boxx-one ul li:first-child {
  float: left;
}

.boxx .boxx-one ul li:first-child span img {
  vertical-align: -3px;
}

.boxx .boxx-one ul li:last-child {
  float: right;
}

.box-thumb {
  margin: 15px 0;
}

.box-thumb .swiper .swiper-slide {
  width: 60px;
  height: 60px;
  text-align: center;
}

.box-thumb .swiper .thumb {
  width: 55px;
  height: 55px;
  border: 1px solid rgb(202, 202, 202);
  box-sizing: border-box;
}

.imgbox {
  position: relative;
  z-index: 2;
}

.probox {
  width: 450px;
  height: 450px;
}

.probox .img1 {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(233, 231, 231);
}

.showbox {
  display: none;
  position: absolute;
  left: 452px;
  top: 0;
  width: 450px;
  height: 500px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #ffffff;
}

.showbox img {
  position: absolute;
  height: 600px;
  width: 600px;
}

.hoverbox {
  display: none;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 0, 0.5);
  height: 300px;
  width: 300px;
  cursor: move;
  z-index: 2;
}



.box .box-two {
  right: 0;
  width: 650px;
  float: right;
  cursor: pointer;
}

.box .box-two .box-name {
  font: 700 18px Arial, "microsoft yahei";
  color: #666;
  padding-top: 10px;
  line-height: 28px;
  margin-bottom: 5px;
}

.box .box-two .box-hide {
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 1.5em;
  line-height: 1.5em;
  font-size: 12px;
  color: #777;
}

.box .box-two .box-summary {
  padding: 10px 0 5px;
  background: #f7f6f4;
  position: relative;
  margin-bottom: 5px;
}

.box .box-two .box-summary ul {
  list-style: none;
}

.box .box-two .box-summary ul li {
  float: left;
  line-height: 22px;
}

.box .box-two .box-summary ul li:first-child {
  padding-left: 10px;
  font-family: simsun;
  color: #999;
}

.box .box-two .box-summary ul li:nth-child(2) {
  color: #c78a49;
  ;
  font-family: "microsoft yahei";
  margin-left: 20px;
}

.box .box-two .box-summary ul li:nth-child(2) span:last-child {
  font-size: 22px;
}

.box .box-two .box-summary ul li:last-child {
  float: right;
  margin-right: 50px;
}

.box .box-two .box-summary ul li {
  color: #007EC3;
}

.box .box-two .box-attr-3 {
  border: #CCCCCC 1px dashed;
  border-left: none;
  border-right: none;
}


.box .box-two .box-attr {
  margin-top: 16px;
  margin-bottom: 4px;
}

.box .box-two .box-attr img {
  width: 40px;
  height: 40px;
}

.box .box-two .box-attr dt,
.box .box-two .box-attr dd {
  float: left;
}

.box .box-two .box-attr dt {
  padding-left: 10px;
  font-family: simsun;
  color: #999;
  line-height: 40px;
}

.box .box-two .box-attr dd {
  border: solid 1px #CCCCCC;
  background: #F7F7F7;
  color: #999;
  margin-bottom: 4px;
  margin-left: 5px;
  padding-right: 10px;
}

.box .box-two .box-attr dd a {
  color: #666;
}

.box .box-two .box-attr dd img {
  vertical-align: -15px;
}

.box .box-two .box-attr-2 {
  margin-bottom: 5px;
}

.box .box-two .box-attr-2 dt,
.box .box-two .box-attr-2 dd {
  float: left;
}

.box .box-two .box-attr-2 dt {
  padding-left: 10px;
  font-family: simsun;
  color: #999;
  line-height: 34px;
}

.box .box-two .box-attr-2 dd {
  border: solid 1px #CCCCCC;
  margin-left: 5px;
  line-height: 34px;
  padding: 0 13px;
  white-space: nowrap;
}

.box .box-two .box-attr-2 dd a {
  color: #666;
}

.box .box-two .box-attr-2 dd.redborder {
  border: solid 1px red;
}

.box .box-two .box-btns {
  margin-top: 0;
  padding: 24px 10px 0;
}

.box .box-two .box-btns .box-btns-one {
  height: 44px;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
  float: left;
}

.box .box-two .box-btns .box-btns-one .buyNumInput {
  width: 80px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  float: left;
  border: none;
  outline: none;
}

.box .box-two .box-btns .box-btns-one .box-btns-one1 {
  float: left;
}

.box .box-two .box-btns .box-btns-one .box-btns-one1 button {
  cursor: pointer;
  width: 17px;
  height: 22px;
  margin-left: 1px;
}

.box .box-two .box-btns .box-btns-two {
  float: left;
  height: 44px;
  line-height: 44px;
  padding: 0 26px;
  background: #c78a49;
  cursor: hand
}

.box .box-two .box-btns .box-btns-two a {
  font-size: 18px;
  font-family: "microsoft yahei";
  color: white;
}

.box .box-two .summary-tips {
  margin-bottom: 5px;
  margin-top: 20px;
}

.box .box-two .summary-tips .dt {
  float: left;
  padding-left: 10px;
  font-family: simsun;
  color: #999;
}

.box .box-two .summary-tips .dd {
  margin-left: 70px;
}

.box .box-two .summary-tips .tips-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.box .box-two .summary-tips .tips-list li {
  float: left;
  margin-right: 15px;
  font-family: simsun;
  color: #999;
}


/* 侧边栏 */
.w {
  margin: 0 auto;
  margin-top: 20px;
  width: 1140px;
}

.aside {
  width: 212px;
  float: left;
}

.clearboth {
  clear: both;
}

.aside .mt {
  width: 212px;
  background: #f7f7f7;
  line-height: 40px;
}

.aside .mt h4 {
  margin-left: 20px;
  color: #666666;
}

.aside .mc {
  width: 210px;
  border: 1px solid #eeeeee;
}

.aside .mc .plist {
  width: 100%;
  list-style: none;
}

.aside .mc .plist li {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.aside .mc .plist li:hover a {
  color: red;
}

.aside .mc .plist li img {
  margin-top: 20px;
  width: 200px;
  border: none;
}

.aside .mc .plist li p {
  font-size: 12px;
  text-align: left;
  margin: 5px 10px;
}

.aside .mc .plist li p a {
  color: #666666;
}

.aside .mc .plist li p strong {
  color: #c78a49;
  font-size: 14px;
}


/* -------------------------------- */
.detail .el-tabs__content {
  padding: 0 !important;
}

.el-tabs--border-card {
  box-shadow: 0 0 0 0;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
  color: #fff;
  background-color: #c78a49;
  border-right-color: #DCDFE6;
  border-left-color: #DCDFE6;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
  color: #c9b49e;
}

.el-tabs--border-card>.el-tabs__header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #c78a49;
  margin: 0;
}

/* -------------------------------- */

/* 商品介绍 */
.detail {
  float: right;
  width: 920px;
  position: relative;
}

.detail .tab-con ul {
  width: 100%;
}

.jieshao {
  width: 100%;
  margin-top: 1px;
  box-sizing: border-box;
}

.jieshao p a {
  font-size: 12px;
  color: #666666;
  margin-left: 20px;
}

.detail .tab-con ul {
  list-style: none;
}

.detail .tab-con ul li .jieshao table {
  margin-top: 20px;
  margin-left: 20px;
}

.jieshao table td {
  width: 25%;
}

.jieshao table td a {
  font-size: 12px;
  color: #666666;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jieshao table td a:hover {
  color: #c78a49;
}

.jieshao img {
  width: 100%;
}

/* 规格 */
.guiGebox {
  width: 927px;
  margin: 0 auto;
}

.guiGebox .guiGe {
  padding: 12px 0;
  color: #888;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}

.guiGebox .guiGe h3 {
  width: 110px;
  height: 26.4px;
  float: left;
  line-height: 26.4px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  color: #888;
}

.guiGebox .guiGe dl {
  width: 880px;
  margin-left: 110px;
}

.guiGebox .guiGe dl dt {
  width: 165px;
  height: 26.4px;
  line-height: 26.4px;
  padding-right: 5px;
  float: left;
  text-align: right;
}

.guiGebox .guiGe dl dd {
  width: 670px;
  line-height: 26.4px;
  height: 26.4px;
  margin-left: 210px;
}

.guiGebox .package-list {
  width: 990px;
  padding: 12px 0;
  color: #999;
  font-size: 12px;
  margin-top: -1px;
}

.guiGebox .package-list h3 {
  width: 130px;
  height: 26.4px;
  line-height: 26.4px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  float: left;
}

.guiGebox .package-list p {
  width: 835px;
  height: 52.8px;
  line-height: 27.8px;
  margin-left: 155px;
  padding-right: 50px;
}

/* 售后 */
.oBox {
  width: 927px;
  ;
}

.oBox .after-sale-title-item {
  margin: 50px auto;
  position: relative;
  left: 50px;
  color: #666666;
}

.oBox .after-sale-title-item .oImg h3 {
  margin-top: 10px;
}

.oBox .after-sale-title-item .oImg h3 {
  width: 64px;
  height: 43px;
  color: #c78a49;
  display: inline;
}

.oBox .after-sale-title-item .wenZi {
  margin: 10px auto;
  font-size: 13px;
}



/* ===========购物车======= */
.cd-cart-container::before {
  /* dark bg layer visible when the cart is open */
  content: '';
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility .4s;
  transition: opacity .4s, visibility .4s;
}

.cd-cart-container.cart-open::before {
  opacity: 1;
  visibility: visible;
}

.cd-cart-trigger,
.cd-cart {
  position: fixed;
  bottom: 20px;
  right: 5%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: transform;
  backface-visibility: hidden;
}

.empty .cd-cart-trigger,
.empty .cd-cart {
  /* hide cart */
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
}

@media only screen and (min-width: 1170px) {

  .cd-cart-trigger,
  .cd-cart {
    bottom: 20%;
  }
}

.cd-cart-trigger {
  /* button that triggers the cart content */
  z-index: 4;
  height: 72px;
  width: 72px;
  /* replace text with image */
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.cd-cart-trigger::after,
.cd-cart-trigger::before {
  /* used to create the cart/'X' icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  background: url(../images/cd-icons-cart-close.svg) no-repeat 0 0;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;
}

.cd-cart-trigger::after {
  /* 'X' icon */
  background-position: -72px 0;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.cart-open .cd-cart-trigger::before {
  opacity: 0;
}

.cart-open .cd-cart-trigger::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cd-cart-trigger .count {
  /* number of items indicator */
  position: absolute;
  top: -10px;
  right: -10px;
  height: 28px;
  width: 28px;
  background: #e94b35;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  text-indent: 0;
  -webkit-transition: -webkit-transform .3s .5s;
  transition: -webkit-transform .3s .5s;
  transition: transform .3s .5s;
  transition: transform .3s .5s, -webkit-transform .3s .5s;
}

.cd-cart-trigger .count li {
  /* this is the number of items in the cart */
  position: absolute;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cart-open .cd-cart-trigger .count {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .2s 0s;
  transition: -webkit-transform .2s 0s;
  transition: transform .2s 0s;
  transition: transform .2s 0s,
    -webkit-transform .2s 0s;
  -webkit-transform: scale(0.00001);
  -ms-transform: scale(0.00001);
  transform: scale(0.00001);
}

.cd-cart-trigger:hover+div .wrapper {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}

.cart-open .cd-cart-trigger:hover+div .wrapper {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.cd-cart {
  /* cart content */
  z-index: 3;
  width: 90%;
  max-width: 440px;
  height: 500px;
  max-height: 90%;
  pointer-events: none;
}

.cd-cart .wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: 6px;
  -webkit-transition: height .4s .1s, width .4s .1s, box-shadow .3s;
  transition: height .4s .1s, width .4s .1s, box-shadow .3s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
}

.cd-cart header,
.cd-cart footer {
  position: absolute;
  z-index: 3;
  left: 0;
  width: 100%;
}

.cd-cart header,
.cd-cart .body {
  opacity: 0;
}

.cd-cart header {
  top: 0;
  border-radius: 6px 6px 0 0;
  padding: 0 1.4em;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  -webkit-transition: opacity .2s 0s;
  transition: opacity .2s 0s;
  border-bottom: 1px solid #e6e6e6;
}

.cd-cart header::after {
  clear: both;
  content: "";
  display: block;
}

.cd-cart footer {
  bottom: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.cd-cart h2 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .1em;
}

.cd-cart .checkout {
  display: block;
  height: 72px;
  line-height: 72px;
  margin-right: 72px;
  background: #dfa651;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-transition: all .2s 0s;
  transition: all .2s 0s;
}

.cd-cart .checkout:hover {
  background: #de972c;
}

.cd-cart .checkout em {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  -webkit-transition: -webkit-transform 0s .2s;
  transition: -webkit-transform 0s .2s;
  transition: transform 0s .2s;
  transition: transform 0s .2s, -webkit-transform 0s .2s;
}

.cd-cart .checkout em::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  content: '';
  height: 24px;
  width: 24px;
  background: url(../images/cd-icon-arrow-next.svg) no-repeat center center;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.cd-cart .body {
  position: relative;
  z-index: 2;
  height: calc(100% - 40px);
  padding: 20px 0 10px;
  margin: 40px 0 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.cd-cart .body ul {
  overflow: hidden;
  padding: 0 1.4em;
  position: relative;
  padding-bottom: 90px;
}

.cd-cart .body li {
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
  -webkit-transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s, -webkit-transform 0s .2s;
  border-bottom: 1px solid rgba(204, 202, 202, 0.5);
}

.cd-cart .body li::after {
  clear: both;
  content: "";
  display: block;
}

.cd-cart .body li:not(:last-of-type) {
  margin-bottom: 20px;
}

.cd-cart .body li.deleted {
  /* this class is added to an item when it is removed form the cart */
  position: absolute;
  left: 1.4em;
  width: calc(100% - 2.8em);
  opacity: 0;
  -webkit-animation: cd-item-slide-out .3s forwards;
  animation: cd-item-slide-out .3s forwards;
}

.cd-cart .body li.deleted.undo-deleted {
  /* used to reinsert an item deleted from the cart when user clicks 'Undo' */
  -webkit-animation: cd-item-slide-in .3s forwards;
  animation: cd-item-slide-in .3s forwards;
}

.cd-cart .body li.deleted+li {
  -webkit-animation: cd-item-move-up-mobile .3s;
  animation: cd-item-move-up-mobile .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.cd-cart .body li.undo-deleted+li {
  -webkit-animation: cd-item-move-down-mobile .3s;
  animation: cd-item-move-down-mobile .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.cd-cart .product-image {
  display: inline-block;
  float: left;
  /* the image height determines the height of the list item - in this case height = width */
  width: 50px;
}

.cd-cart .product-image img {
  display: block;
}

.cd-cart .product-details {
  position: relative;
  display: inline-block;
  float: right;
  width: calc(100% - 50px);
  font-size: 20px;
}

.cd-cart .product-details::after {
  clear: both;
  content: "";
  display: block;
}

.cd-cart h3,
.cd-cart .price {
  font-weight: bold;
}



.cd-cart h3 a {
  color: #2b3e51;
}

.cd-cart h3 a:hover {
  color: #2c97de;
}

.cd-cart .price {
  float: right;
  width: 30%;
  text-align: right;
}

.cd-cart .actions {
  font-size: 1rem;
  height: 1em;
  line-height: 1em;
}

.cd-cart .actions::after {
  clear: both;
  content: "";
  display: block;
}

.cd-cart .delete-item,
.cd-cart .quantity {
  float: left;
  color: #808b97;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-cart .delete-item {
  margin-right: 1em;
}

.cd-cart .delete-item:hover {
  color: #e94b35;
}

.cd-cart .quantity label {
  display: inline-block;
  margin-right: .3em;
}

.cd-cart .select {
  position: relative;
}

.cd-cart .select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/cd-icon-select.svg) no-repeat center center;
  pointer-events: none;
}

.cd-cart select {
  position: relative;
  padding: 0 1em 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font-size: 1.4rem;
  margin: 0;
  color: #808b97;
}

.cd-cart select:focus {
  outline: none;
  color: #2b3e51;
  box-shadow: 0 1px 0 currentColor;
}

.cd-cart select::-ms-expand {
  /* hide default select arrow on IE */
  display: none;
}

.cart-open .cd-cart .wrapper {
  height: 100%;
  width: 100%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.cart-open .cd-cart header,
.cart-open .cd-cart .body {
  opacity: 1;
}

.cart-open .cd-cart header {
  -webkit-transition: opacity .2s .2s;
  transition: opacity .2s .2s;
}

.cart-open .cd-cart .body {
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}

.cart-open .cd-cart .body li {
  -webkit-transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s, -webkit-transform .3s .2s;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.cart-open .cd-cart .body li:nth-of-type(2) {
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
}

.cart-open .cd-cart .body li:nth-of-type(3) {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.cart-open .cd-cart .body li:nth-of-type(4),
.cart-open .cd-cart .body li:nth-of-type(5) {
  -webkit-transition-duration: .55s;
  transition-duration: .55s;
}

.cart-open .cd-cart .checkout {
  color: #ffffff;
  -webkit-transition: color .2s .3s;
  transition: color .2s .3s;
}

.cart-open .cd-cart .checkout em {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: transform .2s .3s, padding .2s 0s;
  transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
}

.cart-open .cd-cart .checkout:hover em {
  padding-right: 30px;
}

.cart-open .cd-cart .checkout:hover em::after {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-cart .body li:not(:last-of-type) {
    margin-bottom: 14px;
  }

  .cd-cart .body li.deleted+li {
    -webkit-animation: cd-item-move-up .3s;
    animation: cd-item-move-up .3s;
  }

  .cd-cart .body li.undo-deleted+li {
    -webkit-animation: cd-item-move-down .3s;
    animation: cd-item-move-down .3s;
  }
  .cd-cart .product{
    display: flex;
  }

  .cd-cart .product .product-img{
    width: 90px;
    height: 90px;
    display: inline-block;
    position: relative;
    border: 1px solid rgb(238, 232, 232, 0.5);
  }
  .cd-cart .product .product-img img{
    width: 90px;
    height: 90px;
  }

  .cd-cart .product .product-detail{
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .cd-cart .product .product-detail h3{
    width: 300px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: -1px;
  }

  .cd-cart .product .product-detail .product-info{
    width: 300px;
    flex: 1;
    display: flex;
    align-items: center;
  }

  .cd-cart .product .product-detail .product-info .product-info-attr{
    flex: 2;
  }
  .cd-cart .product .product-detail .product-info .product-info-attr span{
    padding: 1px 5px;
    margin: 2px;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 5px;
    width: 50px;
    display: inline-block;
    text-align: center;
  }
  .cd-cart .product .product-detail .product-info .product-info-count{
    flex: 1;
  }
  .cd-cart .product .product-detail .product-info .product-info-price{
    flex: 2;
    font-size: 15px;
    font-weight: 700;
    color: red;
  }


  .product-info-price, .product-info-count {
    text-align: center;
  }

}

@-webkit-keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }

  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }

  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

@-webkit-keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}

@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}

@-webkit-keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }

  100% {
    padding-top: 0px;
  }
}

@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }

  100% {
    padding-top: 0px;
  }
}

@-webkit-keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }

  100% {
    padding-top: 0px;
  }
}

@keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }

  100% {
    padding-top: 0px;
  }
}

@-webkit-keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }

  100% {
    padding-top: 70px;
  }
}

@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }

  100% {
    padding-top: 70px;
  }
}

@-webkit-keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }

  100% {
    padding-top: 104px;
  }
}

@keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }

  100% {
    padding-top: 104px;
  }
}

@-webkit-keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}

@keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}

@-webkit-keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}

@keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}