* {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

i,
em,
strong {
  font-style: normal;
}

img {
  border: none;
  vertical-align: top;
}

input,
button,
textarea {
  border: none;
  outline: none;
  background-color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

:root {
  --width: 1140px;
  --aPart: calc(var(--width) / 12);
}
.row-1 {
  width: calc(var(--aPart) * 1);
  width: 95px;
}

.row-2 {
  width: calc(var(--aPart) * 2);
  width: 190px;
}

.row-3 {
  width: calc(var(--aPart) * 3);
  width: 285px;
}

.row-4 {
  width: calc(var(--aPart) * 4);
  width: 360px;
}

.row-5 {
  width: calc(var(--aPart) * 5);
  width: 475px;
}

.row-6 {
  width: calc(var(--aPart) * 6);
  width: 570px;
}

.row-7 {
  width: calc(var(--aPart) * 7);
  width: 665px;
}

.row-8 {
  width: calc(var(--aPart) * 8);
  width: 760px;
}

.row-9 {
  width: calc(var(--aPart) * 9);
  width: 855x;
}

.row-10 {
  width: calc(var(--aPart) * 10);
  width: 950px
}

.row-11 {
  width: calc(var(--aPart) * 11);
  width: 1045px;
}

.row-12 {
  width: calc(var(--aPart) * 12);
  width: 1140px;
}

/*webkit*/
.scrollbar::-webkit-scrollbar {
  width: .4rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  width: inherit;
  border-radius: .2rem;
  background-color: rgba(100, 100, 100, .2);
}

/*firfox 64+*/
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, .2) transparent;
}



/*tools class*/

.check-wrapper {
  font-size: 0;
}

.check-ctrl {
  display: inline-flex;
  align-items: center;
  font-size: 0;
  margin-left: 1.2rem;
}

.check-ctrl.checked .icon-check {
  background-color: #c78a49;
}

.check-ctrl .icon-check {

  display: block;
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  border: .05rem solid #ccc;
  border-radius: .2rem;
  margin-right: .5rem;

}

.check-ctrl .icon-check>span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 38%;
  height: 70%;
  border-right: .1rem solid #fff;
  border-bottom: .1rem solid #fff;
  transform: translate(-50%, -60%) rotate(45deg);
}

.check-ctrl .name-check {
  color: #555;
  font-size: 1rem;
}

.margin0 {
  margin: 0;
}


.flex-hvc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-hc {
  display: flex;
  justify-content: center;
}

.flex-vc {
  display: flex;
  align-items: center;
}

.flex-wrap {
  display: flex;
}


.close-btn {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  background-color: #fff;
  transition: .2s;
  cursor: pointer;
}

.close-btn>span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: .8rem;
  height: .1rem;
  background-color: #ccc;
}

.close-btn>span.shift-left {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn>span {
  transform: translate(-50%, -50%) rotate(-45deg);

}

.close-btn:hover {
  background-color: #00c3f5;
}

.close-btn:hover>span {
  background-color: #fff;
}




/*css main*/


.shopcart-body {
  width: 1140px;
  min-width: 1140px;
  min-height: 1200px;
  font-size: 16px;
  margin: auto;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
  border: 1px solid rgb(214, 213, 213);
  margin-top: 69px;
}

#site-headline {

  padding-top: 2rem;
  background-image: linear-gradient(120deg, #b8daee 30%, rgb(29, 140, 252) 46%, #d2d7f8 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: .2rem;
  animation: hueChange 3s linear 0s infinite alternate;

}

@keyframes hueChange {
  0% {
    filter: hue-rotate(0);
  }

  50% {
    filter: hue-rotate(-30deg);
  }

  100% {
    filter: hue-rotate(30deg);
  }
}

#shopcart {
  margin: 2rem auto 0 auto;
}

.cart-main {
  width: var(--width);
  padding-bottom: .8rem;
  margin: auto;
}


.cart-nav {
  background-color:#fff;
  padding: .8rem 0;
}

.cart-nav>div:not(.check-all) {
  text-align: center;
  font-size: .8rem;
  color: rgb(88, 87, 87);
}

.cart-nav>div.edit {
  position: relative;
  color: #c78a49;
  cursor: pointer;
}



.body {
  margin-top: .8rem;
}

.area {
  background-color: #fff;
}

.area:not(:last-of-type) {
  margin-bottom: .8rem;
}

.area-category {
  padding: .8rem 0;
  border-bottom: .05rem solid #eee;
}

.item {
  padding: 1rem 0;
  height: 8rem;
}

.item:not(:last-of-type) {
  border-bottom: .06rem dashed #ddd;
}

.item .img {
  height: 100%;
  margin-left: 2.4rem;
}

.item .good-info {
  margin-left: 1rem;
}

.img>a {
  display: block;
  height: 100%;
}

.img>a>img {
  display: block;
  height: 100%;
}

.item .good-info .good-name {
  font-size: 1rem;
  font-weight: 500;
  color: #444;
  padding-bottom: .4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item .good-info .good-desc {
  font-size: .9rem;
  font-weight: 400;
  color: #999;
}

.item .singal-price,
.item .small-total {
  color: #c78a49;
  font-size: 1.1rem;
  font-weight: 500;
}

.number .input-box {
  position: relative;
  height: 1.7rem;
  border: .05rem solid #ddd;
  background-color: #fff;

}

.number .input-box button.forbid {
  color: #aaa;
  cursor: no-drop;
}

.number .input-box button:not(.forbid):hover {
  color: #c78a49;
}

.input-box .minus,
.input-box .plus {
  width: 1.6rem;
  height: 1.6rem;
  color: #666;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.6rem;
  cursor: pointer;
}

.input-box .num-input {
  height: 1.6rem;
  width: 3rem;
  text-align: center;
  color: #555;
  font-size: .9rem;
  border-left: .05rem solid #ddd;
  border-right: .05rem solid #ddd;
}

.input-box .upper-limit {
  position: absolute;
  top: calc(100% + .5rem);
  left: 0;
  right: 0;
  text-align: center;
  font-size: .94rem;
  color: #999;
}

.item .edit {

  position: relative;

}

.edit-icon {
  font-size: .9rem;
  font-weight: 400;
  color: #999;
}

.edit-icon~.close-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart-foot-wrap.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  filter: drop-shadow(0 -.4rem .6rem #eee);
}

.cart-foot-wrap .foot {
  width: var(--width);
  height: 3.6rem;
  margin: auto;
  justify-content: space-between;
  background-color: #fff;
}

.foot-left .desc {
  margin-left: 2rem;
  color: #888;
}

.desc .del-selected {
  transition: .2s;
  cursor: pointer;
}

.desc .del-selected:hover {
  color: #c78a49;
}

.num-desc {
  margin-left: 2rem;
}

.num-desc .sumed {
  font-size: 1.1rem;
  vertical-align: middle;
  color: #c78a49;
}

.total-price {
  font-size: 1rem;
  color: #888;
}

.totaled {
  color: #c78a49;
  font-size: 1.4rem;
  font-weight: 600;
}

.order {

  width: 6rem;
  height: 1.8rem;
  margin-left: 2rem;
  margin-right: 1.4rem;
  background-color: #F66567;
  color: #fff;
  font-size: .9rem;
  border-radius: .3rem;
  transition: .2s;

}

.order.none-order {

  background-color: rgb(230, 224, 224);
  color: #999;
  cursor: no-drop;

}

.order:not(.none-order):hover {

  filter: brightness(120%);

}


.mask-layer {

  position: fixed;
  left: 0;
  right: 0;
  top: -100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  opacity: 0;
  transition: opacity .3s;

}

.mask-layer.show {
  top: 0;
  opacity: 1;
}




.confirm-box {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 26rem;
  border-radius: .2rem;
  background-color: #fff;

}

.confirm-title {
  position: relative;
  height: 3rem;
  border-bottom: .05rem solid #eee;
  font-size: 1.1rem;
  color: #333;
}

.confirm-title .close-btn {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.confirm-con {
  height: 7rem;
  font-size: .9rem;
  color: #888;
}

.confirm-ctrl {
  padding-bottom: 1.2rem;
}

.confirm-ctrl>a {
  width: 6rem;
  height: 2rem;
  font-size: .9rem;
  text-align: center;
  line-height: 2rem;
  border-radius: .4rem;
  transition: .2s;
}

.confirm-ctrl>a:hover {
  opacity: .8;
}

.confirm-ctrl>a.delete {

  display: none;
  background-color: #eee;
  color: #aaa;
}

.confirm-ctrl>a.delete.show {

  display: block;

}

.confirm-ctrl>a.cancel {

  margin-left: 1rem;
  background-color: #00c3f5;
  color: #fff;

}

.shopcart-null {
  width: var(--width);
  height: 28rem;
  margin: auto;
  background-color: #fff;

}

.shopcart-null .shopcart-icon {

  display: inline-flex;
  width: 6rem;
  height: 7rem;
  margin-right: 2rem;
  /* background: url('../images/p7.png') center / cover no-repeat; */
}

.shopcart-null .tips .tips-substitle {

  padding-bottom: .8rem;
  color: #666;
  font-size: 1.1rem;
  font-weight: 600;

}


.shopcart-null .tips .back-home {

  width: 8rem;
  height: 2rem;
  border: .05rem solid #c78a49;
  color: #c78a49;
  font-size: .9rem;
  border-radius: .4rem;
  transition: .2s;
}

.shopcart-null .tips .back-home:hover {

  filter: brightness(120%);

}